.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('./font/public/static/Pretendard-Medium.otf');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'Pretendard-Regular';
}

.header-content {
  display: flex;
  padding: 20px;
}

.logo {
  color: #5C8AFF;
}

.nabar-content {
  padding: 0 20px 0 20px;
  font-family: 'KyoboHandwriting2021sjy';
}

.space {
  flex-grow: 1;
}

.navbar {
  display: flex;
  padding: 20px;
}

.review {
  text-align: center;
  position: absolute;
  top: 70px;
  right: 40px;
  text-align: center;
  width: 120px;
  height: 30px;
  border-radius: 17.5px;
  color: white;
  background-color: #5C8AFF;
  padding-top: 10px;
}

.empty {
  width: 100%;
  height: 5px;
  background: #ccc;
}

.login-padding {
  padding-bottom: 10px;
}

.container {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 360px;
  margin-left: -150px;
  margin-top: -80px;
}

.login-font {
  font-weight: 600;
  font-size: 26px;
  padding: 0 0 60px 0;
}

.login-input {
  font-weight: 600;
  font-size: 14px;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  width: 335px;
  height: 40px;
}

.find {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.userinfo-padding {
  padding-right: 15px;
}

.find-info {
  font-size: 13px;
}

.btn-padding {
  padding-top: 15px;
}

.btn-padding2 {
  padding-bottom: 10px;
}

.btn-login {
  border: none;
  border-radius: 8px;
  background: #5C8AFF;
  color: white;
  width: 340px;
  height: 47px;
  font-size: 16px;
}

.btn-signup {
  border: none;
  border-radius: 8px;
  background: #232323;
  color: white;
  width: 340px;
  height: 47px;
  font-size: 16px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
